<h1>Halaman | Home</h1>
<h1>Adventure Mobile</h1>
<p>Adventure Mobile adalah branding game online yang dikembangkan oleh industri game yang mana biasa mengikuti ajang esports untuk para pelajar yang 
    biasanya di ikuti oleh banyak peserta dan juga penonton yang terlibat dalam pertandingan game online ini.
    industri game online dan juga esport pada dasarnya memang tidak bisa dipandang sebelah mata saja, karena peluang bisnis dan salah satu strategi
    pemasaran di masa pandemi seperti sekarang sangatlah efektif untuk dijalankan.
</p>
